.menuRef{
    font-size: 17px;
    color: #444444;
}
.tickets{
    display: block;
    justify-content: flex-end;
}
.menu{
    display: block;
    padding: 1cm 0.5cm;
    margin: 2cm 1cm;
    background-color: white;
    position: fixed;
    width: 8cm;
    height: auto;
    border-radius: .4em;
}
.menuRef:hover{
    color: darkturquoise;
}
.pagination{
    justify-content: space-between;
    display: flex;
}

.contentForm{
    padding-top: 40px;
    position: static;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    height: -webkit-fill-available;
}
.contentHeader{
    margin: 50px;
}
.framing{
    justify-content: flex-end;
    margin: 0 15% 0 25%;
}
a{
    font-size: medium;
}
.contentContainer{
    padding: 10px 70px 50px 70px;
    background-color: white;
    display: block;
    font-size: 20px;
    text-transform: none;
    color: black;
    text-align: -webkit-center;
    position: inherit;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin: 2cm 3cm;
}