.contentForm{
     background-color: white;
     position: relative;
     margin-right: 3cm;
     margin-left: 2.5cm;
     top: 12cm;
     left: auto;
     height: fit-content;
     width: -webkit-fill-available;
 }
a{
    color: darkturquoise;
}
a:hover{
    color: purple;
}
.startMessage{
    font-size: 45px;
    font-family: Arial, serif;
    font-weight: bold;
    text-transform: none;
    color: white;
    text-align: center;
    position: relative;
    top: 6cm;
    left: 0;
    width: -webkit-fill-available;
    padding: 0 15px
}

.contentHeader{
    font-size: 35px;
    font-family: Arial, serif;
    font-weight: bold;
    text-transform: none;
    color: black;
    text-align: center;
    position: initial;
    top: 0.6cm;
    width: -webkit-fill-available;
    margin: 30px;

}