.mainProfileContainer{
    background-color: white;
    position: static;
    margin-right: 3cm;
    margin-left: 2.5cm;
    margin-top: 100px;
    top: auto;
    left: auto;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.userContent{
    display: block;
    font-size: 20px;
    font-family: Arial, serif;
    text-transform: none;
    color: black;
    text-align: left;
    position: absolute;
    width: -webkit-fill-available;
    margin: 10px;
}
.userContentItem{
    display: flex;
    justify-content: flex-start;
}
.userContentItemMsg{
    font-weight: bold;
    color: lightgrey;
}
a{
    color: skyblue;
}
a:hover{
    cursor: pointer;
}